# NYC Tree Census and Income
Codecademy Portfolio Project by Leah Fulmer ([Github](https://github.com/leahmfulmer), [Tableau](https://public.tableau.com/app/profile/leahmfulmer/vizzes))<br>
With gratitude to David Belyaev ([Tableau](https://public.tableau.com/app/profile/david.belyaev/vizzes))

#### Project Objectives:

* Explore a given data set.
* Form questions for analysis.
* Create several visualizations.
* Combine visualizations in a Tableau Dashboard.
* Present interactive visual dashboard through [Tableau Public](https://public.tableau.com/app/profile/leahmfulmer/viz/NYCTreesIncome_17195152146380/NYCTreesIncome).

#### Table of Contents :
[Section 1: Loading and Examining the Data](#data)<br>
[Section 2: Wrangling and Tidying the Data](#tidy)<br>
[Section 3: Defining Questions for Analysis](#questions)<br>
[Section 4: Transitioning to Tableau Public](#tableau)<br>

### Section 1: Loading and Examining the Data <a id="data"></a>

In [1]:
# Import modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

# Suppress warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load data: tree_census
# Data can be found here: https://github.com/Codecademy-Curriculum/Learn-Tableau-for-Data-Viz/tree/main/datasets
tree_census = pd.read_csv("./datasets/tree-census-NYC_2015.csv")

print("This dataset contains {} rows and {} columns. \n".format(tree_census.shape[0], tree_census.shape[1]))
print("The columns are called ...{}.".format(tree_census.columns))

This dataset contains 683788 rows and 16 columns.

The columns are called ...Index(['Unnamed: 0', 'tree_id', 'tree_dbh', 'stump_diam', 'status', 'health',
       'spc_latin', 'spc_common', 'address', 'zipcode', 'borocode', 'boroname',
       'nta_name', 'state', 'Latitude', 'longitude'],
      dtype='object').

In [3]:
# Examine data: tree_census
tree_census.head(50)

,Unnamed: 0,tree_id,tree_dbh,stump_diam,status,health,spc_latin,spc_common,address,zipcode,borocode,boroname,nta_name,state,Latitude,longitude
0,0,180683,3,0,Alive,Fair,Acer rubrum,red maple,108-005 70 AVENUE,11375,4,Queens,Forest Hills,New York,40.723092,-73.844215
1,1,200540,21,0,Alive,Fair,Quercus palustris,pin oak,147-074 7 AVENUE,11357,4,Queens,Whitestone,New York,40.794111,-73.818679
2,2,204026,3,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,390 MORGAN AVENUE,11211,3,Brooklyn,East Williamsburg,New York,40.717581,-73.936608
3,3,204337,10,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1027 GRAND STREET,11211,3,Brooklyn,East Williamsburg,New York,40.713537,-73.934456
4,4,189565,21,0,Alive,Good,Tilia americana,American linden,603 6 STREET,11215,3,Brooklyn,Park Slope-Gowanus,New York,40.666778,-73.975979
5,5,190422,11,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,8 COLUMBUS AVENUE,10023,1,Manhattan,Lincoln Square,New York,40.770046,-73.984950
6,6,190426,11,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,120 WEST 60 STREET,10023,1,Manhattan,Lincoln Square,New York,40.770210,-73.985338
7,7,208649,9,0,Alive,Good,Tilia americana,American linden,311 WEST 50 STREET,10019,1,Manhattan,Clinton,New York,40.762724,-73.987297
8,8,209610,6,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,65 JEROME AVENUE,10305,5,Staten Island,Grasmere-Arrochar-Ft. Wadsworth,New York,40.596579,-74.076255
9,9,192755,21,0,Alive,Fair,Platanus x acerifolia,London planetree,638 AVENUE Z,11223,3,Brooklyn,Gravesend,New York,40.586357,-73.969744
10,10,203719,11,0,Alive,Good,Platanus x acerifolia,London planetree,20-025 24 STREET,11105,4,Queens,Steinway,New York,40.782428,-73.911171
11,11,203726,8,0,Alive,Poor,Platanus x acerifolia,London planetree,20-055 24 STREET,11105,4,Queens,Steinway,New York,40.781735,-73.912020
12,12,195202,13,0,Alive,Fair,Platanus x acerifolia,London planetree,35 FENWAY CIRCLE,10308,5,Staten Island,Great Kills,New York,40.557103,-74.162670
13,13,189465,22,0,Alive,Good,Platanus x acerifolia,London planetree,100 WAVERLY AVENUE,11205,3,Brooklyn,Clinton Hill,New York,40.694733,-73.968211
14,14,192998,30,0,Alive,Fair,Platanus x acerifolia,London planetree,2126 UNION STREET,11212,3,Brooklyn,Brownsville,New York,40.664317,-73.921130
15,15,189834,12,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,449 MYRTLE AVENUE,11205,3,Brooklyn,Clinton Hill,New York,40.693314,-73.967601
16,16,204208,2,0,Alive,Fair,Ginkgo biloba,ginkgo,8797 25 AVENUE,11214,3,Brooklyn,Bensonhurst East,New York,40.593788,-73.991597
17,17,161339,14,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1601 CHURCH AVENUE,11226,3,Brooklyn,Flatbush,New York,40.648788,-73.964524
18,18,187311,14,0,Alive,Fair,Gleditsia triacanthos var. inermis,honeylocust,55-026 96 STREET,11373,4,Queens,Corona,New York,40.737646,-73.865300
19,19,208201,10,0,Alive,Good,Ginkgo biloba,ginkgo,206 CARLTON AVENUE,11205,3,Brooklyn,Fort Greene,New York,40.691499,-73.972588
20,20,193093,11,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,367 PROSPECT AVENUE,11215,3,Brooklyn,Park Slope-Gowanus,New York,40.661239,-73.985889
21,21,193310,14,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,170 EAST 75 STREET,10021,1,Manhattan,Upper East Side-Carnegie Hill,New York,40.772171,-73.960456
22,22,199760,4,0,Alive,Fair,Quercus phellos,willow oak,2163 BROADWAY,10024,1,Manhattan,Upper West Side,New York,40.782087,-73.980964
23,23,204325,9,0,Alive,Good,Acer pseudoplatanus,sycamore maple,301 THOMAS STREET,10306,5,Staten Island,Oakwood-Oakwood Beach,New York,40.568821,-74.138563
24,24,189700,2,0,Alive,Good,Quercus phellos,willow oak,26 8 AVENUE,11217,3,Brooklyn,Park Slope-Gowanus,New York,40.674839,-73.972184
25,25,205044,5,0,Alive,Good,Acer ginnala,Amur maple,134 BAY 40 STREET,11214,3,Brooklyn,Bensonhurst East,New York,40.594936,-73.989171
26,26,192942,33,0,Alive,Good,Platanus x acerifolia,London planetree,84-036 127 STREET,11415,4,Queens,Kew Gardens,New York,40.706534,-73.824992
27,27,195265,19,0,Alive,Good,Platanus x acerifolia,London planetree,401 AVENUE O,11230,3,Brooklyn,Ocean Parkway South,New York,40.611905,-73.970427
28,28,201555,9,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,71 STANTON STREET,10002,1,Manhattan,Chinatown,New York,40.721807,-73.989830
29,29,208407,9,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1817 DE KALB AVENUE,11385,4,Queens,Ridgewood,New York,40.708040,-73.915497
30,30,189164,7,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,456 5 AVENUE,11215,3,Brooklyn,Park Slope-Gowanus,New York,40.668826,-73.986703
31,31,184375,3,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,2022 LA FONTAINE AVENUE,10457,2,Bronx,East Tremont,New York,40.847947,-73.893382
32,32,187056,7,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1880 BROADWAY,10023,1,Manhattan,Lincoln Square,New York,40.770396,-73.981627
33,33,187058,5,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1 WEST 62 STREET,10023,1,Manhattan,Lincoln Square,New York,40.770227,-73.981218
34,34,178659,4,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,434 RARITAN AVENUE,10305,5,Staten Island,Old Town-Dongan Hills-South Beach,New York,40.588107,-74.086678
35,35,190423,12,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,120 WEST 60 STREET,10023,1,Manhattan,Lincoln Square,New York,40.770087,-73.985048
36,36,190425,13,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,120 WEST 60 STREET,10023,1,Manhattan,Lincoln Square,New York,40.770181,-73.985269
37,37,204202,12,0,Alive,Fair,Platanus x acerifolia,London planetree,328 THOMAS STREET,10306,5,Staten Island,Oakwood-Oakwood Beach,New York,40.568825,-74.139062
38,38,201494,24,0,Alive,Good,Platanus x acerifolia,London planetree,6 ALLISON PLACE,10306,5,Staten Island,New Dorp-Midland Beach,New York,40.578074,-74.114746
39,39,208346,20,0,Alive,Good,Platanus x acerifolia,London planetree,418 COLUMBUS AVENUE,10024,1,Manhattan,Upper West Side,New York,40.782587,-73.974840
40,40,181710,13,0,Alive,Good,Quercus phellos,willow oak,267 WEST END AVENUE,11235,3,Brooklyn,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,New York,40.575205,-73.952467
41,41,178382,12,0,Alive,Fair,Platanus x acerifolia,London planetree,520 EAST 20 STREET,10009,1,Manhattan,Stuyvesant Town-Cooper Village,New York,40.733716,-73.977058
42,42,193690,36,0,Alive,Good,Platanus x acerifolia,London planetree,6018 24 AVENUE,11230,3,Brooklyn,Ocean Parkway South,New York,40.613663,-73.974530
43,43,196089,29,0,Alive,Good,Platanus x acerifolia,London planetree,84-037 124 STREET,11415,4,Queens,Kew Gardens,New York,40.704047,-73.827680
44,44,191988,6,0,Alive,Good,Quercus phellos,willow oak,73 WEST HOUSTON STREET,10012,1,Manhattan,SoHo-TriBeCa-Civic Center-Little Italy,New York,40.726640,-73.999368
45,45,203720,9,0,Alive,Good,Platanus x acerifolia,London planetree,20-025 24 STREET,11105,4,Queens,Steinway,New York,40.782340,-73.911279
46,46,189339,18,0,Alive,Good,Platanus x acerifolia,London planetree,79 HALL STREET,11205,3,Brooklyn,Clinton Hill,New York,40.695281,-73.966380
47,47,208230,13,0,Alive,Fair,Platanus x acerifolia,London planetree,1 WEST 81 STREET,10024,1,Manhattan,Upper West Side,New York,40.782181,-73.972390
48,48,204413,13,0,Alive,Good,Quercus phellos,willow oak,2435 HARWAY AVENUE,11214,3,Brooklyn,Bensonhurst East,New York,40.593932,-73.993801
49,49,161193,9,0,Alive,Good,Quercus phellos,willow oak,86 BOGOTA STREET,10314,5,Staten Island,Todt Hill-Emerson Hill-Heartland Village-Light...,New York,40.585850,-74.148040

In [4]:
# Load data: income
income = pd.read_csv("./datasets/income-NYC_2015.csv")

print("This dataset contains {} rows and {} columns. \n".format(income.shape[0], income.shape[1]))
print("The columns are called ...{}.".format(income.columns))

This dataset contains 218 rows and 8 columns.

The columns are called ...Index(['GEO_ID', 'zipcode', 'HouseholdsEstimateTotal',
       'HouseholdsMargin of ErrorTotal',
       'HouseholdsEstimateMedian income (dollars)',
       'HouseholdsMargin of ErrorMedian income (dollars)',
       'HouseholdsEstimateMean income (dollars)',
       'HouseholdsMargin of ErrorMean income (dollars)'],
      dtype='object').

In [5]:
# Examine data: income
income.head()

,GEO_ID,zipcode,HouseholdsEstimateTotal,HouseholdsMargin of ErrorTotal,HouseholdsEstimateMedian income (dollars),HouseholdsMargin of ErrorMedian income (dollars),HouseholdsEstimateMean income (dollars),HouseholdsMargin of ErrorMean income (dollars)
0,8600000US10451,10451,18140,405,26048,2140.0,40836.0,3424.0
1,8600000US10452,10452,25432,368,24790,1337.0,36083.0,1578.0
2,8600000US10453,10453,26802,409,23095,1605.0,33354.0,1416.0
3,8600000US10454,10454,12790,247,20210,1930.0,31533.0,2272.0
4,8600000US10455,10455,14023,329,23253,1598.0,32854.0,2127.0

### Section 2: Wrangling and Tidying the Data<a id="tidy"></a>

After mapping the boroughs with Tableau Public, I noticed that some datapoints were labeled incorrectly. The zipcode 11234 is in Brooklyn, <br>but Tableau said that it was in Queens. This led to misrepresentations in the distribution of trees across boroughs. Let's correct this.

In [6]:
# What is the error?

zip_11234 = tree_census[tree_census.zipcode == 11234]
zip_11234.boroname.unique()
zip_11234.borocode.unique()

array([3, 4])

In [7]:
# Which points are labelled incorrectly?

incorrect_label = tree_census[(tree_census.zipcode == 11234) & (tree_census.boroname == 'Queens')]
incorrect_label.head(50)

,Unnamed: 0,tree_id,tree_dbh,stump_diam,status,health,spc_latin,spc_common,address,zipcode,borocode,boroname,nta_name,state,Latitude,longitude
428387,428387,654303,11,0,Alive,Fair,Platanus x acerifolia,London planetree,5031 FLATBUSH AVENUE,11234,4,Queens,Georgetown-Marine Park-Bergen Beach-Mill Basin,New York,40.582074,-73.891625
429222,429222,654305,7,0,Alive,Good,Prunus,cherry,5031 FLATBUSH AVENUE,11234,4,Queens,Georgetown-Marine Park-Bergen Beach-Mill Basin,New York,40.582407,-73.891952
429721,429721,654307,5,0,Alive,Fair,Prunus,cherry,5031 FLATBUSH AVENUE,11234,4,Queens,Georgetown-Marine Park-Bergen Beach-Mill Basin,New York,40.582577,-73.892141
430241,430241,654309,48,0,Alive,Fair,Morus,mulberry,5031 FLATBUSH AVENUE,11234,4,Queens,Georgetown-Marine Park-Bergen Beach-Mill Basin,New York,40.582633,-73.892204
430399,430399,654304,9,0,Alive,Good,Prunus,cherry,5031 FLATBUSH AVENUE,11234,4,Queens,Georgetown-Marine Park-Bergen Beach-Mill Basin,New York,40.582130,-73.891643
432730,432730,654306,23,0,Alive,Good,Morus,mulberry,5031 FLATBUSH AVENUE,11234,4,Queens,Georgetown-Marine Park-Bergen Beach-Mill Basin,New York,40.582498,-73.892054
432731,432731,654308,57,0,Alive,Good,Morus,mulberry,5031 FLATBUSH AVENUE,11234,4,Queens,Georgetown-Marine Park-Bergen Beach-Mill Basin,New York,40.582613,-73.892182

It looks like only seven trees have an incorrect label for `boroname`. This is easy to edit individually.

In [8]:
# Edit borough for individual trees

tree_census.loc[428387, 'boroname'] = 'Brooklyn'
tree_census.loc[428387, 'borocode'] = 3
tree_census.loc[429222, 'boroname'] = 'Brooklyn'
tree_census.loc[429222, 'borocode'] = 3
tree_census.loc[429721, 'boroname'] = 'Brooklyn'
tree_census.loc[429721, 'borocode'] = 3
tree_census.loc[430241, 'boroname'] = 'Brooklyn'
tree_census.loc[430241, 'borocode'] = 3
tree_census.loc[430399, 'boroname'] = 'Brooklyn'
tree_census.loc[430399, 'borocode'] = 3
tree_census.loc[432730, 'boroname'] = 'Brooklyn'
tree_census.loc[432730, 'borocode'] = 3
tree_census.loc[432731, 'boroname'] = 'Brooklyn'
tree_census.loc[432731, 'borocode'] = 3

In [9]:
# Check that Brooklyn is the only borough associated with zipcode 11234

check = tree_census[(tree_census.zipcode == 11234)]
check.boroname.unique()
check.borocode.unique()

array([3])

In [10]:
# Filter out unhealthy trees to reduce size of dataset

tree_census = tree_census[(tree_census.health == 'Good')]

In [11]:
# Save data

tree_census.to_csv("datasets/tree-census-NYC-2015-short.csv")

### Section 3: Defining Questions for Analysis<a id="questions"></a>

* Is there a correlation between household income and tree characteristics (e.g., size, health)?
    * *This is our driving question. It's why we're bringing these datasets together in the first place.*
* Which borough has the most trees?
* Where in New York City do we find the highest and lowest incomes?
    * Is there variation within a borough, or is there income clustering? 
    * Do all wealthy households live in the same borough?
* Where in New York City do we find the largest trees? The smallest?

### Section 4: Transitioning to Tableau Public<a id="tableau"></a>

All of these questions can be explored visually. It's time to take ourselves over to Tableau Public for some [*interactive visualizations!*](https://public.tableau.com/app/profile/leahmfulmer/viz/NYCTreesIncome_17195152146380/NYCTreesIncome?publish=yes)